<div class="d-flex flex-column justify-content-center align-items-center mt-4">
<app-country (countryDeletedEvent)="handleCountryDeleted($event)" *ngFor="let country of countries" [country]="country"></app-country>
 <form [formGroup]="form" class="container d-flex w-100">
 <input type="text" class="flex-grow-1 rounded mx-2 form-control" placeholder="Country name" formControlName="name" (input)="handleCountryNameInputChange()"/>
 <button type="button" class="btn btn-dark px-4" (click)="handleAddCountry()" [disabled]="form.invalid">Add country</button>
</form>
<p *ngIf="form.get('name')?.invalid && form.get('name')?.dirty" class="alert alert-danger my-2">Country name is required.</p>
<p *ngIf="countryAdded" class="alert alert-success my-2">Country has been successfully added.</p>
</div>