<div class="d-flex flex-column justify-content-center align-items-center mt-4">
    <h3 class="text-muted mb-3">Attractions for municipality {{municipalityName}}, country {{countryName}}</h3>
    <app-attraction-dashboard (attractionDeletedEvent)="handleAttractionDeleted($event)" *ngFor="let attraction of attractions" [attraction]="attraction"></app-attraction-dashboard>
     
    <form *ngIf="addingAttractionActive" [formGroup]="form" class="container d-flex flex-column">
     <input type="text" class="rounded form-control mb-2" placeholder="Name" formControlName="name" (click)="handleInputChange()"/>
     <textarea class="form-control mb-2" placeholder="Description" formControlName="description" (click)="handleInputChange()"></textarea>
     <div class="d-flex flex-direction-row mb-2">
        <input type="number" class="form-control mx-1" placeholder="lat" formControlName="lat" (click)="handleInputChange()">
        <input type="number" class="form-control mx-1" placeholder="lon" formControlName="lon" (click)="handleInputChange()">
     </div>
     <input id="file" type="file" formControlName="picture" class="form-control mb-2" accept=".jpeg, .jpg, .png" (change)="handleFileChange($event)"/>
     <p class="alert alert-info">{{files.length}} files chosen.</p>
     <button type="button" class="btn btn-dark px-4" (click)="handleAddAttraction()" [disabled]="form.invalid">Add attraction</button>
    </form>

    <button  *ngIf="!addingAttractionActive"  type="button" class="btn btn-info mt-2" (click)="handleActivateAddingAttraction()">Add more attractions?</button>
    
    
    <p *ngIf="attractionAdded" class="alert alert-success my-2">Attraction has been successfully added to the selected country.</p>
</div>

