<div class="d-flex flex-column align-items-center justify-content-center hover-shadow cardContainer">
    <p class="fw-bold">{{ attraction.name }}</p>
    <p class="text-muted">{{ attraction.description }}</p>
    <div class="d-flex flex-row justify-content-end w-100">
      <p>{{ "lat: " + attraction.lat + " lon: " + attraction.lon }}</p>
    </div>
    <div class="d-flex">
        <p>{{attraction.municipalityName + ", " + attraction.countryName}}</p>
      </div>
    <img class="w-100 overflow-hidden" *ngIf="(attraction.images!==null && attraction.images.length!==0); else elseBlock" src={{attraction.images[0]}}/>
    <ng-template #elseBlock>
    <img class="w-100 overflow-hidden" src="https://via.placeholder.com/200?text=NoImage"/> 
    </ng-template>
    <div class="d-flex flex-row">
    <p class="mx-2">Rate: </p>
    <ngb-rating [readonly]="attractionRated" [(rate)]="attraction.ratingAvg" [max]="5.0" (rateChange)="handleRatingChange($event)"></ngb-rating>
  </div>
  <p class="text-muted m-0" style="font-size: 0.7rem;">{{attraction.ratingAvg}}</p>
  <p *ngIf="attractionRated" class="alert alert-success">You have rated this attraction!</p>
  </div>
