<div class="d-flex flex-column align-items-center justify-content-center hover-shadow cardContainer">
    <p class="fw-bold">{{ attraction.name }}</p>
    <p class="text-muted">{{ attraction.description }}</p>
    <div class="d-flex flex-row">
      <p>{{ "lat " + attraction.lat + " lon " + attraction.lon }}</p>
    </div>
    <div class="d-flex flex-row-reverse">
        <p>{{1}}</p>
      </div>
    <img class="w-100 overflow-hidden" *ngIf="attraction.images!==null && attraction.images.length!==0" src={{attraction.images[0]}}/> 
    <ngb-rating [readonly]="rateRequestSent" [(rate)]="attraction.ratingAvg" [max]="5.0" (rateChange)="handleRatingChange($event)"></ngb-rating>
    <p class="text-muted">{{attraction.ratingAvg}}</p>
  </div>
