<form class="container-sm w-25" [formGroup]="form">

    <div class="form-outline mb-4">
      <input type="text" id="formUsername" class="form-control" formControlName="username"/>
      <label class="form-label" for="formUsername">Username</label>
      <div><p  *ngIf="form.get('username')?.dirty && form.get('username')?.invalid" class="alert alert-danger">Username must contain at least 5 characters</p></div>
    </div>
    
  
    <div class="form-outline mb-4">
      <input type="password" id="formPw" class="form-control" formControlName="password" (input)="onPasswordChange()"/>
      <label class="form-label" for="formPw">Password</label>
      <div><p  *ngIf="form.get('password')?.dirty && form.get('password')?.invalid" class="alert alert-danger">Password must contain at least 5 characters</p></div>
    </div>
    

    <div class="form-outline mb-4">
        <input type="password" id="formConfirmPw" class="form-control" formControlName="confirmPassword" (input)="onPasswordChange()"/>
        <label class="form-label" for="formConfirmPw">Confirm password</label>
        <div><p  *ngIf="form.get('confirmPassword')?.dirty && form.get('confirmPassword')?.invalid" class="alert alert-danger" >Passwords do not match</p></div>
      </div>
      
    <button [disabled]="form.invalid" type="button" class="btn btn-primary  mb-4" (click)="handleRegisterFormSubmit()">Register</button>
    <div><p  *ngIf="registrationSuccessful" class="alert alert-success">Registration successful. You can login now. </p></div>
  </form> 
